<form action="/figures" method="post">
    <p>Figure name:<input type="text" id="figure_name" name="figure[name]" value="figure[name]"></p>
    <p>Landmark:<input type="text" name="landmark[name]" ></p>
    <p>Title:<input type="text" name="title[name]"> </p>


    <% Title.all.each do |title| %>
      <%= title.name %>
      <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>"/>
    <% end %>
    <% Landmark.all.each do |landmark| %>
      <%= landmark.name %>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"/>
    <% end %>
    <input type="submit" value="Create New Figure">
</form>
